.caja-principal{
    width: 70%;
    height: 400px;
    border: 1px solid $color-fondo-secundaria;
    margin: 5% auto;
    border-radius: 10px;
    img{
        width: 30%;
        margin: 155px 100px;
    }
    #presentacion{
        width: 500px;
        margin: 100px 0px;
    }
    .caja{
        display: block;
        float: left;
    }
}
.secciones{
    border-bottom: solid 5px $color-amarrillo;
    width: 20%;
    text-align: center;
    padding: 7px;
    margin: 10px auto 40px auto;
}
#seccion-objetivo, #seccion-clientes, #seccion-comercio{
    margin: 100px auto 80px auto;
}
#Objetivo{
    #presentacion{
        text-align: center;
        width: 80%;
        margin: 150px 10%;
    }
}
.clear-fix{
    float: none;
    clear: both;
}
#back-inicio{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
    background-color: $color-pregunta-1;
    border-radius: 200px;
    img{
        width: 50px;
        height: 50px;
        margin: 15px;
        filter: grayscale(100%);
    }
}
#back-inicio:hover{
    img{
        filter: none;
    }
}