$color-fondo: #E7E5DF;
$color-fondo-secundaria: #D3D0CB;
$color-negro: #393E41;
$color-verde: #44BBA4;
$color-amarrillo: #E7BB41;
$color-pregunta-1: #004b49;
$color-pregunta-2: #f09425;
$color-pregunta-3: #28a745;